.wrapper {
  min-height: 100svh;
  background-color: #ece6d9;
}

.book {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 1rem;
  margin: 0;
}

.title {
  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  padding: 12px 1rem;
  margin-bottom: 1px;
  text-overflow: ellipsis;
  background-color: rgb(247 242 232);
}

.listItem:hover {
  color: blueviolet;
}

@media screen and (width <= 600px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (width <= 960px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
