.page {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 1rem;
}

.navWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (min-width: 1920px) {
  .navWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .navWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .navWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
